.App {
  width: 800px;
  margin: 0 auto;
}

.App nav {
  background-color: #003580;
}

.App main {
  display: flex;
  flex-direction: row;
}

.App .searchResult {
  background-color: tomato;
  height: 100px;
  flex-grow: 1;
}
